<nav class="navbar navbar-default navbar-fixed-top visible-xs toolbar" role="navigation">
  <div class="navbar-header">
    <button {{action "goBack"}} class="btn btn-link navbar-btn pull-left">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <span class="navbar-brand">{{title}}</span>
    <button type="submit" {{action "save"}} disabled={{event.isSaving}} class="btn btn-link save-event navbar-btn pull-right">
      {{saveButtonText}}
    </button>
  </div>
</nav>

<h4 class="hidden-xs">{{title}}</h4>

<form>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group {{if event.formErrors.name "has-error"}}">
        <label class="control-label">Event Name</label>
        {{input value=event.name class="form-control event-name" placeholder="Example: Trip to Barcelona"}}
        <div class="help-block with-errors">
          {{event.formErrors.name}}
        </div>
      </div>
      <div class="form-group {{if event.formErrors.currency "has-error"}}">
        <label class="control-label">Currency</label>
        {{my-select
          class="event-currency"
          options=currencies
          selected=event.currency
          prompt="Select currency..."
          optionValuePath="code"
          optionLabelPath="nameWithCode"
        }}
        <div class="help-block with-errors">
          {{event.formErrors.currency}}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Participants</label>
        {{user-list users=event.users}}
        <button type="button" class="btn btn-primary add-user" {{action "addUser"}}>Add Participant</button>
      </div>

      {{#unless event.isNew}}
        <div class="form-group">
          <label class="control-label">Other options:</label>
          <div class="input-group">
            <button {{action "delete"}} class="btn btn-danger delete-event">Delete Event</button>
          </div>
        </div>
      {{/unless}}
    </div>
  </div>

  <div class="form-group hidden-xs">
    <button type="submit" {{action "save"}} disabled={{event.isSaving}} class="btn btn-success save-event">
      {{saveButtonText}}
    </button>
    or
    {{link-to "Cancel" cancelRouteName class="cancel-edit"}}
  </div>
</form>