<div class="well">
  <div class="form-group {{if event.formErrors.name "has-error"}}">
    <label for="inputEmail3" class="control-label">Event Name</label>
    {{input value=event.name classNames="form-control" placeholder="Example: Trip to Barcelona"}}
    <div class="help-block with-errors">
      {{event.formErrors.name}}
    </div>
  </div>
  <div class="form-group {{if event.formErrors.currency "has-error"}}">
    <label for="inputEmail3" class="control-label">Currency</label>
    {{my-select
      options=currencies
      selected=event.currency
      prompt="Select currency..."
      optionValuePath="code"
      optionLabelPath="nameWithCode"
    }}
    <div class="help-block with-errors">
      {{event.formErrors.currency}}
    </div>
  </div>
</div>
<h3>Participants</h3>
<div class="well">
  {{user-list users=event.users}}
  <button type="button" class="btn btn-primary" {{action "addUser"}}>Add Participant</button>
</div>

<button type="submit" {{action "save"}} disabled={{event.isSaving}} class="btn btn-success">
  {{saveButtonText}}
</button>
