<MobileToolbar>
  <BackButton />
  <span class="navbar-brand">{{title}}</span>
  <button type="submit" {{action "save"}} disabled={{event.isSaving}} class="btn btn-link save-event navbar-btn">
    {{saveButtonText}}
  </button>
</MobileToolbar>

<h4 class="hidden-xs">{{title}}</h4>

<form>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group {{if event.formErrors.name.messages "has-error"}}">
        <label class="control-label">Event Name</label>
        <Input @value={{event.name}} class="form-control event-name" placeholder="Example: Trip to Barcelona" />
        <div class="help-block with-errors">
          {{event.formErrors.name.message}}
        </div>
      </div>
      <div class="form-group {{if event.formErrors.currency.message "has-error"}}">
        <label class="control-label">Currency</label>
        <MySelect @selectClass="event-currency" @options={{currencies}} @selected={{event.currency}} @prompt="Select currency..." @optionValuePath="code" @optionLabelPath="nameWithCode" />
        <div class="help-block with-errors">
          {{event.formErrors.currency.message}}
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Participants</label>
        <UserList @users={{event.users}} />
        <button type="button" class="btn btn-primary add-user" {{action "addUser"}}>Add Participant</button>
      </div>

      {{#unless event.isNew}}
        <div class="form-group">
          <label class="control-label">Other options:</label>
          <div class="input-group">
            <button {{action "delete"}} class="btn btn-danger delete-event">Delete Event</button>
            {{#if event.isOffline}}
              &nbsp;
              <button {{action "syncOnline"}} class="btn btn-success sync-online">Sync Online</button>
            {{/if}}
          </div>
        </div>
      {{/unless}}
    </div>
  </div>

  <div class="form-group hidden-xs">
    <button type="submit" {{action "save"}} disabled={{event.isSaving}} class="btn btn-success save-event">
      {{saveButtonText}}
    </button>
    or
    <BackButton>
      Cancel
    </BackButton>
  </div>
</form>