<div class="well">
  <div class="form-group {{if formErrors.event.name "has-error"}}">
    <label for="inputEmail3" class="control-label">Event Name</label>
    {{input value=event.name classNames="form-control" placeholder="Example: Trip to Barcelona"}}
    <div class="help-block with-errors">
      {{formErrors.event.name}}
    </div>
  </div>
  <div class="form-group {{if formErrors.event.currency "has-error"}}">
    <label for="inputEmail3" class="control-label">Currency</label>
    {{my-select
      options=currencies
      value=event.currencyCode
      prompt="Select currency..."
      optionValuePath="code"
      optionLabelPath="nameWithCode"
    }}
    <div class="help-block with-errors">
      {{formErrors.event.name}}
    </div>
  </div>
</div>
<h3>Participants</h3>
<div class="well">
  {{user-list users=event.users isSubmitted=isSubmitted registerAs=userList}}
  <button type="button" class="btn btn-primary" {{action "addUser"}}>Add Participant</button>
</div>

<button type="submit" {{action "save"}} disabled={{event.isSaving}} class="btn btn-success">
  {{saveButtonText}}
</button>
