{{#if anyTransfers}}
  <div class="well">
    {{#each transfers as |transfer|}}
      <li class="settlement-item">
        <strong>{{transfer.sender.name}}</strong> has to send <strong>{{transfer.recipient.name}}</strong>
        {{transfer.amount}} {{transfer.currency.code}}
      </li>
    {{/each}}
  </div>
{{else}}
  <div class="alert alert-info" role="alert">
    There is no need to settle anything.
  </div>
{{/if}}