<div class="transaction-list-item-description">
  <strong>{{transaction.payer.name}}</strong> paid for {{transaction.name}}<br>
  Participants: {{participants}}
</div>
<div class="transaction-list-item-amount">
  <h5>
    {{transaction.amount}} {{transaction.event.currency.code}}
  </h5>
</div>