<div class="row">
  <div class="col-md-10">
    {{transaction.payer.name}} paid {{transaction.amount}} {{transaction.event.currency.code}} for {{transaction.name}}<br>
    <strong>Participants:</strong> {{participants}}
  </div>
  <div class="col-md-2 text-right">
    <button class="btn btn-danger" {{action "delete" transaction}}>
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    </Button>
    {{#link-to "event.transactions.edit" transaction.id class="btn btn-primary"}}
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    {{/link-to}}
  </div>
</div>