{{#if anyTransactions}}
  {{transaction-list-header transactions=transactions currentUser=currentUser}}
  {{#each transactionsByMonth as |transactionGroup|}}
    {{#if anyTransactionWithDate}}
      <div class="transaction-list-date">
        {{#if transactionGroup.month}}
          {{inline-svg "calendar" class="icon"}}
          <strong>{{print-month-year transactionGroup.month}}</strong>
        {{else}}
          <strong>The other day</strong>
        {{/if}}
      </div>
    {{/if}}

    {{#each transactionGroup.transactions as |transaction|}}
      {{transaction-list-item transaction=transaction onClick=(action "edit" transaction)}}
    {{/each}}
  {{/each}}
{{else}}
  <div class="alert alert-info" role="alert">
    There are no transactions yet.
  </div>
{{/if}}