{{#if transaction.date}}
  <CalendarPage @date={{transaction.date}} />
{{/if}}
<div class="transaction-list-item-description">
  {{#if transaction.isTransfer}}
    <strong>{{transaction.payer.name}}</strong> settled up with <strong>{{transaction.participants.firstObject.name}}</strong>
  {{else}}
    <strong>{{transaction.payer.name}}</strong> paid for <em>{{transaction.name}}</em><br>
    {{inline-svg "user" class="icon"}} <small>{{participants}}</small>
  {{/if}}
</div>
<div class="transaction-list-item-amount">
  <strong>
    {{format-money transaction.amount symbol=transaction.event.currency.code format="%v %s"}}
  </strong>
</div>