{{#if anyTransactions}}
  <table class="transaction-list table table-hover">
    <thead>
      <th>Name</th>
      <th>Amount</th>
      <th>Payer</th>
      <th>Participants</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {{#each transactions as |transaction|}}
        <tr class="item">
          <td>
            {{transaction.name}}
          </td>
          <td>
            {{transaction.amount}}
          </td>
          <td>
            {{transaction.payer.name}}
          </td>
          <td>

          </td>
          <td>
            <button class="btn btn-danger" {{action "delete" transaction}}>Delete</button>
            {{link-to "Edit" "event.transactions.edit" transaction.id class="btn btn-primary"}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="alert alert-info" role="alert">
    There are no transactions yet.
  </div>
{{/if}}