{{#if anyTransactions}}
  <table class="transaction-list table table-hover">
    <thead>
      <th>Name</th>
      <th>Amount</th>
      <th>Payer</th>
      <th>Participants</th>
      <th>Actions</th>
    </thead>
    <tbody>
      {{#each transactions as |transaction|}}
        <tr class="item">
          <td>
            {{input value=transaction.name class="transaction-name, form-control" focus-out="saveChanges"}}
          </td>
          <td>
            {{input value=transaction.amount class="form-control" focus-out="saveChanges"}}
          </td>
          <td>
            {{my-select
              content=users
              selection=transaction.payer
              prompt="Select payer..."
              optionValuePath="id"
              optionLabelPath="name"
              action=(action "updatePayer" transaction)
            }}
          </td>
          <td>
            {{my-checkbox-list
              content=users
              selection=transaction.participants
              optionValuePath="id"
              optionLabelPath="name"
              action=(action "updateParticipants" transaction)
            }}
          </td>
          <td>
            <button class="btn btn-danger" {{action "deleteTransaction" transaction}}>Delete</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="alert alert-info" role="alert">
    There are no transactions yet.
  </div>
{{/if}}