<div class="transaction-list-item-description">
  <strong>{{transaction.payer.name}}</strong> paid for <em>{{transaction.name}}</em><br>
  {{inline-svg "user" class="icon"}} <small>{{participants}}</small>
</div>
<div class="transaction-list-item-amount">
  <h5>
    {{transaction.amount}} {{transaction.event.currency.code}}
  </h5>
</div>