<div class="form-group {{if user.formErrors.name.messages "has-error"}}">
  <div class="input-group">
    {{input value=user.name class="user-name form-control" placeholder=placeholder}}
    <span class="input-group-btn">
      <button class="btn btn-danger remove-user" type="button" disabled={{isRemoveDisabled}} {{action "delete" user}}>Delete</button>
    </span>
  </div>
  <div class="help-block with-errors">
    {{user.formErrors.name.message}}
  </div>
</div>
