{{#side-menu}}
  <ul class="nav">
    <li class="header">Events</li>
    {{#each model.previousEvents as |event|}}
      {{#nav-link-to "event" event.id}}
        <span class="glyphicon glyphicon-calendar"></span>
        {{event.name}}
      {{/nav-link-to}}
    {{/each}}
    <li>
      {{#link-to "new"}}
        <span class="glyphicon glyphicon-plus"></span>
        New Event
      {{/link-to}}
    </li>
    <li class="divider"></li>
    <li>
      <a href="">
        <svg class="github-logo" viewBox="0 0 32 32">
          {{partial "shared/github-logo"}}
        </svg>
        Source Code
      </a>
    </li>
    <li>
      <a href="">
        <svg class="cowbell-logo" viewBox="0 0 54 54">
          {{partial "shared/cowbell-logo"}}
        </svg>
        Cowbell Labs
      </a>
    </li>
  </ul>
{{/side-menu}}

<div class="page-content">
  <nav class="navbar navbar-default navbar-fixed-top hidden-xs" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand topnav" href="/">Splitr<strong>lite</strong></a>
      </div>
      {{top-menu-nav-links}}
    </div>
  </nav>

  <main>
    <div class="container">
      {{outlet}}
    </div>
  </main>
</div>

{{outlet "modal"}}
