<SideMenu>
  <header class="navbar navbar-default">
    <div class="navbar-header">
      <SideMenuLinkTo @route="index" class="navbar-brand" title="SplittyPie Home Page">
        <Brand />
      </SideMenuLinkTo>
    </div>
  </header>
  <div class="content">
    <ul class="nav">
      <li class="header">Events</li>
      {{#each model.previousEvents as |event|}}
        <li>
          <SideMenuLinkTo @route="event" @model={{event.id}}>
            {{inline-svg "calendar" class="icon"}}
            {{event.name}}
          </SideMenuLinkTo>
        </li>
      {{/each}}
      <li>
        <SideMenuLinkTo @route="new">
          {{inline-svg "plus" class="icon"}}
          New Event
        </SideMenuLinkTo>
      </li>
      <li class="divider"></li>
      <li>
        <a href="https://github.com/cowbell/splittypie" target="_blank" rel="noopener">
          {{inline-svg "github" class="icon"}}
          Source Code
        </a>
      </li>
      <li>
        <a href="https://cowbell-labs.com/" target="_blank" rel="noopener">
          {{inline-svg "cowbell" class="icon cowbell"}}
          Cowbell Labs
        </a>
      </li>
    </ul>
    <div class="version">
      <p>ver. {{app-version}}</p>
    </div>
  </div>
</SideMenu>
<ContentBackdrop />
<div class="page-content">
  <Navbar />

  <main>
    <div class="container">
      {{outlet}}
    </div>
  </main>

  <Footer />
  <EmberNotify @messageStyle="bootstrap" />
</div>
{{outlet "modal"}}
