<nav class="navbar navbar-default navbar-fixed-top visible-xs toolbar" role="navigation">
  <div class="navbar-header">
    <button class="navbar-btn btn btn-link pull-left" {{action "toggleMenu"}}>
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
    <a class="navbar-brand topnav" href="/">Splitr<strong>lite</strong></a>
    <button type="submit" {{action "save"}} disabled={{event.isSaving}} class="btn btn-link save-event navbar-btn pull-right">
      {{saveButtonText}}
    </button>
  </div>
</nav>

<ul class="nav nav-tabs">
  {{#nav-link-to "event.index"}}Overview{{/nav-link-to}}
  {{#nav-link-to "event.transactions"}}Transactions{{/nav-link-to}}
  {{#nav-link-to "event.edit" class="pull-right"}}Edit Event{{/nav-link-to}}
</ul>

<br>

{{outlet}}

{{#link-to "event.transactions.new" class="btn btn-primary btn-circle btn-add-transaction"}}
  <span class="glyphicon glyphicon-plus"></span>
{{/link-to}}
