<MobileToolbar @class="no-borders">
  <SideMenuToggleCustom />
  <span class="navbar-brand">{{model.name}}</span>
  <button {{action "share"}} class="navbar-btn btn btn-link" aria-label="Share With Others">
    {{inline-svg "share" class="icon"}}
  </button>
  <LinkTo @route="event.edit" class="navbar-btn btn btn-link" @title="Edit Event">
    {{inline-svg "edit" class="icon"}}
  </LinkTo>
  <SwitchUserDropdown @selected={{userContext.currentUser}} @users={{model.users}} @onChange={{route-action "switchUser"}} @iconOnly={{true}} @class="navbar-btn btn btn-link" />
</MobileToolbar>

<EmberWormhole @to="navbar-right">
  <div class="nav navbar-nav navbar-right">
    <SwitchUserDropdown @selected={{userContext.currentUser}} @users={{model.users}} @onChange={{route-action "switchUser"}} @class="navbar-btn" />
  </div>
</EmberWormhole>

<div class="row hidden-xs">
  <div class="col-md-12">
    <div class="pull-left">
      <SwitchEventDropdown @selected={{model}} @events={{events}} />
    </div>

    <div class="pull-right">
      <button {{action "share"}} class="btn btn-link btn-lg">
        {{inline-svg "share" class="icon"}} Share
      </button>

      <LinkTo @route="event.edit" class="btn btn-link btn-lg">
        {{inline-svg "edit" class="icon"}} Edit
      </LinkTo>
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  {{#nav-link-to "event.index" title="Overview"}}Overview{{/nav-link-to}}
  {{#nav-link-to "event.transactions" title="Transactions"}}Transactions{{/nav-link-to}}
</ul>

{{#if isMobile}}
  <div class="event-container">
    {{outlet}}
  </div>
{{else}}
  {{liquid-outlet class="event-container"}}
{{/if}}

<AddTransactionButton @event={{model}} @onClick={{route-action "showQuickAdd"}} />