<h2>Event Details</h2>

<label>Event Name:</label>
{{input value=model.name focus-out="saveChanges"}}

<h2>Users</h2>

<button {{action "addUser"}}>Add User</button>

{{user-list users=model.users saveChanges="saveChanges"}}

<h2>Transactions</h2>

<button {{action "addTransaction"}}>Add Transaction</button>

{{transaction-list transactions=model.transactions users=model.users saveChanges="saveChanges"}}

<h2>Paid/Owed Summary</h2>

<table class="user-list">
    <thead>
        <th>User</th>
        <th>Summary</th>
    </thead>
    <tbody>
        {{#each model.paidOwed as |po|}}
            <tr>
                <td>{{po.user.name}}</td>
                <td>{{po.summary}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<h2>How to settle all debts?</h2>

{{settlement-transfer-list event=model}}
