<h2>Event Details</h2>

<label>Event Name:</label>
{{input value=model.name focus-out="saveChanges"}}

<h2>Users</h2>

<button {{action "addUser"}}>Add User</button>

{{user-list users=model.users saveChanges="saveChanges"}}

<h2>Transactions</h2>

<button {{action "addTransaction"}}>Add Transaction</button>

{{transaction-list transactions=model.transactions users=model.users saveChanges="saveChanges"}}

<h2>Users Balances</h2>

{{user-balance-list users=model.users}}

<h2>How to settle all debts?</h2>

{{settlement-transfer-list users=model.users}}
