{{#mobile-toolbar}}
  {{side-menu-toggle-custom}}
  <span class="navbar-brand">{{model.name}}</span>
  <button {{action "share"}} class="navbar-btn btn btn-link">
    {{inline-svg "share" class="icon"}}
  </button>
  {{#link-to "event.edit" class="navbar-btn btn btn-link"}}
    {{inline-svg "edit" class="icon"}}
  {{/link-to}}
  {{switch-user-dropdown selected=userContext.currentUser users=model.users action="switchUser" iconOnly=true class="navbar-btn btn btn-link"}}
{{/mobile-toolbar}}

{{#ember-wormhole to="navbar-right"}}
  <div class="nav navbar-nav navbar-right">
    {{switch-user-dropdown selected=userContext.currentUser users=model.users action="switchUser" class="navbar-btn"}}
  </div>
{{/ember-wormhole}}

<div class="row hidden-xs">
  <div class="col-md-12">
    <div class="pull-left">
      {{switch-event-dropdown selected=model events=localData.previousEvents}}
    </div>

    <div class="pull-right">
      <button {{action "share"}} class="btn btn-link btn-lg">
        {{inline-svg "share" class="icon"}} Share
      </button>

      {{#link-to "event.edit" class="btn btn-link btn-lg"}}
        {{inline-svg "edit" class="icon"}} Edit
      {{/link-to}}
    </div>
  </div>
</div>

<ul class="nav nav-tabs">
  {{#nav-link-to "event.index"}}Overview{{/nav-link-to}}
  {{#nav-link-to "event.transactions"}}Transactions{{/nav-link-to}}
</ul>

{{liquid-outlet}}

{{add-transaction-button event=model}}