{{#mobile-toolbar}}
  {{side-menu-toggle-custom}}
  <span class="navbar-brand text-center">
    {{partial "shared/brand"}}
  </span>
{{/mobile-toolbar}}

{{#ember-wormhole to="navbar-right"}}
  <ul class="nav navbar-nav navbar-right">
    {{scroll-to href="#about" label="About"}}
    {{#if (any model.previousEvents)}}
      {{scroll-to href="#events" label="Events"}}
    {{/if}}
    {{scroll-to href="#features" label="Features"}}
    <li>
      <a href="https://github.com/cowbell/splittypie" target="_blank">
        {{inline-svg "github" class="icon"}}
        Source
      </a>
    </li>
    {{#nav-link-to "new"}}
      {{inline-svg "plus" class="icon"}}
      New Event
    {{/nav-link-to}}
  </ul>
{{/ember-wormhole}}

<div class="index-sections">
  <section id="about">
    <div class="row main">
      <div class="col-sm-7 main-promotion-text">
        <h1>Easy expense splitting</h1>
        <p>
          Create event, add users and their expenses. Splittypie will calculate who owes who and how much exactly.
          It's <strong>Free</strong> and with <strong class="text-nowrap">No Sign Up</strong>.
        </p>
        <p>{{link-to "Create New Event" "new" class="btn btn-lg btn-success"}}</p>
      </div>
      <div class="col-sm-5 main-promotion-image">
        <img src="/assets/app_iphone.png">
      </div>
    </div>
  </section>

  {{#if (any model.previousEvents)}}
    {{previous-events events=model.previousEvents}}
  {{/if}}

  <section id="features">
    <h3 class="text-center">Find more about Splittypie</h3>

    <div class="row">
      <div class="col-md-4 text-center">
        <div class="feature-img-container">
          <img src="/assets/responsive.jpg">
        </div>
        <h4>Works anywhere</h4>
        <p>
          Accessible on any device with modern web browser.
          It has look and feel of mobile device application
          thanks to resposive design.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature-img-container">
          <img src="/assets/stopwatch.png">
        </div>
        <h4>Fast and realtime</h4>
        <p>
          It's really fast and dynamic.
          What's more, your friends will see all your changes
          in realtime without refreshing page!
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature-img-container">
          <img src="/assets/offline.png">
        </div>
        <h4>Offline Enabled</h4>
        <p>
          SplittyPie is an offline-first application.
          It works when there is no Internet connection
          and syncs seamlessly where there is.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="feature-img-container">
          <img src="/assets/free.png">
        </div>
        <h4>Free to use</h4>
        <p>
          It's completely free of charge.
          No Sign In, No Registration, No Commitments.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature-img-container">
          <img src="/assets/share.png">
        </div>
        <h4>Easy to share</h4>
        <p>
          To share just pass a link to a friend, that's it.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature-img-container">
          <img src="/assets/open-source.png">
        </div>
        <h4>Open Source</h4>
        <p>
          Yes, it's open source. Check out the code on <a href="https://github.com/cowbell/splittypie" target="_blank">github</a>.
        </p>
      </div>
    </div>
  </section>

  <div class="small-border"></div>

  <section class="social-list">
    <a href="https://github.com/cowbell/splittypie">
      {{inline-svg "github" class="icon icon-md"}}
    </a>
    <a href="https://cowbell-labs.com">
      {{inline-svg "cowbell" class="icon icon-md cowbell"}}
    </a>
    <a href="#">
      {{inline-svg "facebook" class="icon icon-md"}}
    </a>
    <a href="#">
      {{inline-svg "twitter" class="icon icon-md"}}
    </a>
  </section>
</div>