<MobileToolbar>
  <SideMenuToggleCustom />
  <span class="navbar-brand text-center">
    <Brand />
  </span>
</MobileToolbar>

<EmberWormhole @to="navbar-right">
  <ul class="nav navbar-nav navbar-right">
    <ScrollTo @href="#about" @label="About" />
    {{#if (any model.previousEvents)}}
      <ScrollTo @href="#events" @label="Events" />
    {{/if}}
    <ScrollTo @href="#features" @label="Features" />
    <li>
      <a href="https://github.com/cowbell/splittypie" target="_blank" rel="noopener" title="SplittyPie Source Code">
        {{inline-svg "github" class="icon"}}
        Source
      </a>
    </li>
    <NavLinkTo @route="new" title="Create New Event">
      {{inline-svg "plus" class="icon"}}
      New Event
    </NavLinkTo>
  </ul>
</EmberWormhole>

<div class="index-sections">
  <section id="about">
    <div class="row main">
      <div class="col-sm-7 main-promotion-text">
        <h1>Easy expense splitting</h1>
        <p>
          Create event, add users and their expenses. Splittypie will calculate who owes who and how much exactly.
          It's <strong>Free</strong> and with <strong class="text-nowrap">No Sign Up</strong>.
        </p>
        <p><LinkTo @route="new" class="btn btn-lg btn-success">Create New Event</LinkTo></p>
      </div>
      <div class="col-sm-5 main-promotion-image">
        <img src="/assets/app_iphone.png" alt="App preview on iOS">
      </div>
    </div>
  </section>

  {{#if (any model.previousEvents)}}
    <PreviousEvents @events={{model.previousEvents}} />
  {{/if}}

  <section id="features">
    <h3 class="text-center">Find more about Splittypie</h3>

    <div class="row">
      <div class="col-md-4 text-center">
        <div class="feature-img-container">
          <img src="/assets/responsive.jpg" alt="Works anywhere. Responsive">
        </div>
        <h4>Works anywhere</h4>
        <p>
          Accessible on any device with modern web browser.
          It has look and feel of mobile device application
          thanks to resposive design.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature-img-container">
          <img src="/assets/stopwatch.png" alt="Fast and realtime">
        </div>
        <h4>Fast and realtime</h4>
        <p>
          It's really fast and dynamic.
          What's more, your friends will see all your changes
          in realtime without refreshing page!
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature-img-container">
          <img src="/assets/offline.png" alt="Offline Enabled">
        </div>
        <h4>Offline Enabled</h4>
        <p>
          SplittyPie is an offline-first application.
          It works when there is no Internet connection
          and syncs seamlessly where there is.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="feature-img-container">
          <img src="/assets/free.png" alt="Free of charge">
        </div>
        <h4>Free to use</h4>
        <p>
          It's completely free of charge.
          No Sign In, No Registration, No Commitments.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature-img-container">
          <img src="/assets/share.png" alt="Easy to share">
        </div>
        <h4>Easy to share</h4>
        <p>
          To share just pass a link to a friend, that's it.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="feature-img-container">
          <img src="/assets/open-source.png" alt="Open Source">
        </div>
        <h4>Open Source</h4>
        <p>
          Yes, it's open source. Check out the code on <a href="https://github.com/cowbell/splittypie" target="_blank" rel="noopener" title="SplittyPie Source Code">github</a>.
        </p>
      </div>
    </div>
  </section>

  <div class="small-border"></div>

  <section class="social-list">
    <a href="https://github.com/cowbell/splittypie" target="_blank" rel="noopener" title="SplittyPie Source Code">
      {{inline-svg "github" class="icon icon-md"}}
    </a>
    <a href="https://cowbell-labs.com" target="_blank" rel="noopener" title="Author Cowbell-Labs Page">
      {{inline-svg "cowbell" class="icon icon-md cowbell"}}
    </a>
    <a href="https://facebook.com/splittypie" target="_blank" rel="noopener" title="Facebook Page">
      {{inline-svg "facebook" class="icon icon-md"}}
    </a>
    <a href="https://twitter.com/splittypie" target="_blank" rel="noopener" title="Twitter Page">
      {{inline-svg "twitter" class="icon icon-md"}}
    </a>
  </section>
</div>